In [3]:
import pandas as pd

In [5]:
boston_df = pd.read_csv('boston_weather_data.csv')

## Part 2 Task 1

In [11]:
# Percentage af available data

(~boston_df.isna()).mean()

time    1.000000
tavg    0.999726
tmin    1.000000
tmax    1.000000
prcp    1.000000
wdir    0.839310
wspd    1.000000
pres    0.955927
dtype: float64

## Part 2 Task 2

In [12]:
# dtype info

boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    3653 non-null   object
 1   tavg    3652 non-null   float64
 2   tmin    3653 non-null   float64
 3   tmax    3653 non-null   float64
 4   prcp    3653 non-null   float64
 5   wdir    3066 non-null   float64
 6   wspd    3653 non-null   float64
 7   pres    3492 non-null   float64
dtypes: float64(7), object(1)
memory usage: 228.4+ KB

In [13]:
# time column to datetime type

boston_df['time'] = pd.to_datetime(boston_df['time'], format='%Y-%m-%d')
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    3653 non-null   datetime64[ns]
 1   tavg    3652 non-null   float64
 2   tmin    3653 non-null   float64
 3   tmax    3653 non-null   float64
 4   prcp    3653 non-null   float64
 5   wdir    3066 non-null   float64
 6   wspd    3653 non-null   float64
 7   pres    3492 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 228.4 KB

## Part 2 Task 3

### Dunno how to check that

## Part 2 Task 4

In [24]:
electro_df = pd.read_csv('global_electricity.csv')

# Check which country electricity is unavailable is 2010
electro_df[electro_df['2010'].isna()][['Country', 'Region']]

                               Country          Region
138                         Micronesia  Asia & Oceania
146           Northern Mariana Islands  Asia & Oceania
159                             Tuvalu  Asia & Oceania
183                   U.S. Territories   North America
368                         Micronesia  Asia & Oceania
376           Northern Mariana Islands  Asia & Oceania
389                             Tuvalu  Asia & Oceania
413                   U.S. Territories   North America
598                         Micronesia  Asia & Oceania
606           Northern Mariana Islands  Asia & Oceania
619                             Tuvalu  Asia & Oceania
643                   U.S. Territories   North America
828                         Micronesia  Asia & Oceania
836           Northern Mariana Islands  Asia & Oceania
849                             Tuvalu  Asia & Oceania
873                   U.S. Territories   North America
1058                        Micronesia  Asia & Oceania
1066          Northern Mariana Islands  Asia & Oceania
1079                            Tuvalu  Asia & Oceania
1103                  U.S. Territories   North America
1288                        Micronesia  Asia & Oceania
1296          Northern Mariana Islands  Asia & Oceania
1309                            Tuvalu  Asia & Oceania
1333                  U.S. Territories   North America
1518                        Micronesia  Asia & Oceania
1526          Northern Mariana Islands  Asia & Oceania
1539                            Tuvalu  Asia & Oceania
1563                  U.S. Territories   North America